.flex-x {
  display: flex; }
  .flex-x.m-l-r {
    flex-direction: row; }
  .flex-x.m-r-l {
    flex-direction: row-reverse; }
  .flex-x.m-t-b {
    flex-direction: column; }
  .flex-x.m-b-t {
    flex-direction: column-reverse; }
  .flex-x.m-space-start, .flex-x.m-s-start {
    justify-content: flex-start; }
  .flex-x.m-space-end, .flex-x.m-s-end {
    justify-content: flex-end; }
  .flex-x.m-space-center, .flex-x.m-s-center {
    justify-content: center; }
  .flex-x.m-space-around, .flex-x.m-s-around {
    justify-content: space-around; }
  .flex-x.m-space-between, .flex-x.m-s-between {
    justify-content: space-between; }
  .flex-x.m-space-evenly, .flex-x.m-s-evenly {
    justify-content: space-evenly; }
  .flex-x.m-space-avg > *, .flex-x.m-s-avg > * {
    width: 10px;
    flex: auto; }
  .flex-x.a-space-start, .flex-x.a-s-start {
    align-items: flex-start; }
  .flex-x.a-space-end, .flex-x.a-s-end {
    align-items: flex-end; }
  .flex-x.a-space-center, .flex-x.a-s-center {
    align-items: center; }
  .flex-x.a-space-baseline, .flex-x.a-s-baseline {
    align-items: baseline; }
  .flex-x.a-space-stretch, .flex-x.a-s-stretch {
    align-items: stretch; }
  .flex-x .start {
    align-self: flex-start; }
  .flex-x .end {
    align-self: flex-end; }
  .flex-x .center {
    align-self: center; }
  .flex-x .baseline {
    align-self: baseline; }
  .flex-x .stretch {
    align-self: stretch; }
  .flex-x.a-t-b, .flex-x.a-l-r {
    flex-wrap: wrap; }
  .flex-x.a-b-t, .flex-x.a-r-l {
    flex-wrap: wrap-reverse; }
  .flex-x.r-space-start, .flex-x.r-s-start {
    align-content: flex-start; }
  .flex-x.r-space-end, .flex-x.r-s-end {
    align-content: flex-end; }
  .flex-x.r-space-center, .flex-x.r-s-center {
    align-content: center; }
  .flex-x.r-space-around, .flex-x.r-s-around {
    align-content: space-around; }
  .flex-x.r-space-between, .flex-x.r-s-between {
    align-content: space-between; }
  .flex-x.r-space-evenly, .flex-x.r-s-evenly {
    align-content: space-evenly; }
  .flex-x.r-space-stretch, .flex-x.r-s-stretch {
    align-content: stretch; }
